@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">User Dashboard</h1>
    <p>Welcome @ViewBag.Username! This is your user dashboard to control actions regarding your account.</p>
</div>
