@{
    ViewData["Title"] = "Notifications";
}

<!-- Return to Dashboard Button -->
<div class="mb-4">
    <a href="/Account/Dashboard" class="btn btn-outline-primary">
        <i class="fa fa-chevron-left"></i> Return to Dashboard
    </a>
</div>

<div class="text-center mb-4">
    <h1 class="display-4">Notifications</h1>
    <p>Check new notifications from your dormmates.</p>
</div>