<h2>Monthly Reports</h2>
<div>
    <a href="/Admin/MonthlyReportView" class="btn btn-primary">View Report</a>
    <a href="/Admin/ExportMonthlyReport" class="btn btn-secondary">Download Report</a>
</div>
