@{
    ViewData["Title"] = "Community Page";
    //Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<!-- Link to the specific ContactUs.css file -->
<link rel="stylesheet" href="~/css/community.css" asp-append-version="true" />

<body>
    <section id="post">

        <div class="post-heading">
            <span>Posts</span>
            <h1>Make a Post</h1>
        </div>

        <!--post-box-container-->
        <div class="post-box-container">

            <!--BOX-1-->
            <div class="post-box">

                <!--top-->
                <div class="box-top">
                    <!--profile-->
                    <div class="profile">
                        <!--img-->
                        <div class="profile-img">
                            <img src="images/c-1.jpg" />
                        </div>
                        <!--name-and-username-->
                        <div class="name-user">
                            <strong>User1</strong>
                            <strong>@user1</strong>
                        </div>
                    </div>

                </div>
                
                <!--Content-->
                 <div class="user-content">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate doloremque quaerat omnis voluptates recusandae doloribus beatae corporis obcaecati nulla reiciendis in minima, earum veniam itaque possimus porro consequatur ut aperiam!</p>
                 </div>
            </div>


            <!--BOX-2-->
            <div class="post-box">

                <!--top-->
                <div class="box-top">
                    <!--profile-->
                    <div class="profile">
                        <!--img-->
                        <div class="profile-img">
                            <img src="images/c-2.jpg" />
                        </div>
                        <!--name-and-username-->
                        <div class="name-user">
                            <strong>User1</strong>
                            <strong>@user1</strong>
                        </div>
                    </div>

                </div>
                
                <!--Content-->
                 <div class="user-content">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate doloremque quaerat omnis voluptates recusandae doloribus beatae corporis obcaecati nulla reiciendis in minima, earum veniam itaque possimus porro consequatur ut aperiam!</p>
                 </div>
            </div>

            <!--BOX-3-->
            <div class="post-box">

                <!--top-->
                <div class="box-top">
                    <!--profile-->
                    <div class="profile">
                        <!--img-->
                        <div class="profile-img">
                            <img src="images/c-3.jpg" />
                        </div>
                        <!--name-and-username-->
                        <div class="name-user">
                            <strong>User1</strong>
                            <strong>@user1</strong>
                        </div>
                    </div>

                </div>
                
                <!--Content-->
                 <div class="user-content">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate doloremque quaerat omnis voluptates recusandae doloribus beatae corporis obcaecati nulla reiciendis in minima, earum veniam itaque possimus porro consequatur ut aperiam!</p>
                 </div>
            </div>

            <!--BOX-4-->
            <div class="post-box">

                <!--top-->
                <div class="box-top">
                    <!--profile-->
                    <div class="profile">
                        <!--img-->
                        <div class="profile-img">
                            <img src="images/c-4.jpg" />
                        </div>
                        <!--name-and-username-->
                        <div class="name-user">
                            <strong>User1</strong>
                            <strong>@user1</strong>
                        </div>
                    </div>

                </div>
                
                <!--Content-->
                 <div class="user-content">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate doloremque quaerat omnis voluptates recusandae doloribus beatae corporis obcaecati nulla reiciendis in minima, earum veniam itaque possimus porro consequatur ut aperiam!</p>
                 </div>
            </div>
        </div>
    </section>

</body>