@{
    ViewData["Title"] = "Contact Us";
    //Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<hr class="my-4">
<div class="container mt-5">
    <p>You can contact us here!</p>
</div>