@{
    ViewData["Title"] = "Contact Us";
    //Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}


@*IF LOGGED IN, allow user to go back to dashboard...*@
@if (User?.Identity != null && User.Identity.IsAuthenticated) {
    <!-- Return to Dashboard Button -->
    <div class="mb-4">
        <a href="/Account/Dashboard" class="btn btn-outline-primary">
            <i class="fa fa-chevron-left"></i> Return to Dashboard
        </a>
    </div>
}

<div class="text-center mb-4">
    <h1>@ViewData["Title"]</h1>
</div>
<hr class="my-4">
<div class="container mt-5">
    <p>You can contact us here!</p>
</div>